argcomplete==3.7.2
blinker==1.9.0
click==8.5.0
filelock==3.32.4
Flask==3.1.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.3
pipx==1.16.7
platformdirs==4.11.5
userpath==1.9.2
Werkzeug==3.1.8
yt-dlp==2026.8.19
